{% extends "main'/header.html" %}

{% block content %}

    <div class="chat-wrapper">
        <div class="message-wrapper">
          <div class="message-box-wrapper">
<!--              <img src="{% url 'video_feed' %}">-->
<!--              <img src="{% url 'webcam_feed' %}">-->
          </div>
        </div>
    </div>
    <div class="chat-input-wrapper">
        <button class="chat-send-btn">Record  <i class="fas fa-circle"></i> </button>
        <button class="chat-send-btn">Playback  <i class="fas fa-play"></i></button>
        <button class="chat-send-btn">Liveview  <i class="fas feather-x-square"></i></button>
    </div>

{% endblock %}